.action-bar {
    height: 99px;
    }
        .action-bar .spin-controls {
            display: block;
            height: 45px;
            width: 355px;
            float: right;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
        }
            .action-bar .spin-controls .spin-left{
                background: url(Images/spinners_a.png);
                width: 32px;
                height: 45px;
                background-position: top left;
                float: left;
            }
            .action-bar .spin-controls .spin-right{
                background: url(Images/spinners_b.png);
                width: 32px;
                height: 45px;
                background-position: top right;
                float: right;
            }
            .action-bar .spin-controls .spin-text{
                margin:0 auto;
                font-size: 25px;
                text-align: center;
                display: block;
                float: left;
                width: 291px;
                /* color: white; */
                font-size: 35px;
                line-height: 48px;
                color: #ffffffcc;
                text-shadow: black 2px 2px;
                text-transform: uppercase;
                font-family: conduit_itc_light;
            }