.flyout {
    z-index: 99;
    width: 482px;
    height: 748px;
    top: 110px;
    position: relative;
    right: 0;
    -color: #ffffffcc;
    font-family: conduit_itc_light;
}
.flyout.right {
    float:right;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}
.flyout.left{
    float:left;
}
.flyout::before{
    content: "";
    background: url(Images/panel-corner.png);
    position: absolute;
    background-repeat: no-repeat;
    background-position: top left;
    width: 52%;
    height: 38%;
}
.flyout::after{
    content: "";
    background: url(Images/panel-corner.png);
    position: absolute;
    background-repeat: no-repeat;
    background-position: top left;
    width: 43%;
    height: 35%;
    bottom: 5px;
    z-index: 100;
    right: 0%;
    transform: rotate(180deg);
}
.flyout > .background {
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(83px 12px, 570px 12px, 456px 12px, 456px 677px, 400px 731px, 8% 731px, 28px 731px, 28px 66px);
    background: #081327;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.12) 25%, rgba(255, 255, 255, 0.06) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, 0.15) 76%, transparent 77%, transparent);
    background-size: 23px 21px;
}

.top-container {
    height: 265px;
}



.match-map{
    height: 241px;
    width: 256px;
    background-size: contain !important;
    float: left;
    margin-top: 12px;
    margin-left: 28px;
    position: relative;
}
    .match-map .title{
        float: left;
        bottom: 10px;
        left: 10px;
        background: #00000080;
        padding: 5px 10px;
        filter: contrast(1) !important;
        max-width: 270px;
        color: #fff;
        position: absolute;
        font-size: 30px;
    }
    .match-map.street_sweeper{
        background: url(Images/maps/street_sweeper.png);
    }
    .match-times{
        float: left;
        margin-top: 26px;
        width: 172px;
        margin-left: 0px;
        text-align: center;
    }



.flyout.left .bottom-container {
    margin-left: 39px;
    width: 406px;
}
    .bottom-container p, .bottom-container b {
        font-size: 30px;
    }
        .bottom-container p b {
            font-weight: 800;
        }
        .bottom-container p a {
            text-decoration: underline;
        }

.match-setting{
}
    .match-setting b{
        float: left;
        width: 60%;
    }
    .match-setting p{
    }


.flyout.right .top-container{
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
    width: 430px;
    height: 165px;
    padding-top: 13px;
    padding-right: 27px;
    text-align: center;
}
.flyout.right .bottom-container {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
    padding-right: 27px;
    width: 430px;
    height: 505px;
}
    .flyout.right .bottom-container > div{
        visibility: hidden;
        display: none;
    }
        .flyout.right .bottom-container > div.is-active{
            visibility: visible;
            display: block;
        }
    .flyout.right  pre{
        margin:5px;
    }