.middle-content {
    width: 930px;
    height: 785px;
    float: left; 
    /* left:390px; */
    margin: 35px 0 0 5px;
    /* top: 85px; */
    position: relative;
    z-index: 22;
}
.action-bar {

}