.scoreboard{
    font-weight: bold;
    height: 610px;
}  
    .scoreboard p {
        font-size: 25px;
        color: #ffffffcc;
        text-shadow: black 2px 2px;
    }  
    .scoreboard .column div {
        font-size: 25px;
        color: #ffffffcc;
        text-shadow: black 2px 2px;
    }
    .scoreboard > div {
        visibility: hidden;
        display: none;
    }
    .scoreboard > div.is-active {
        visibility: visible !important;
        display: block !important;
    }
.column {
    float:left;
    line-height: 33px;
    height: 34px;
}
.column.player {
    width: 344px;
    margin-right: 2px;
    background-size: 34px 34px !important;
    background-repeat: no-repeat !important;
}
    .column.header.player p {
        margin-left: 19px;
    }
    .column:not(.header).player p{
        margin-left: 40px;
    }

.score-row.is-active .column.player{
    outline: 2px solid #a4bacf;
}

.player-stats, .kill-stats {
    color: white !important;
}
    .player-stats .score-row, .kill-stats .score-row{    
        height: 34px;
    }
        .player-stats .score-row:not(:first-child), .kill-stats .score-row:not(:first-child){
            margin-top:2px;
        }
        .player-stats .column.header, .kill-stats .column.header{
            background:black;
        }
        .player-stats .column.place, .player-stats .column.life,
        .player-stats .column.life, .player-stats .column.spree,
        .player-stats .column.score, .kill-stats .column.kills,
        .kill-stats .column.deaths, .kill-stats .column.assists,
        .kill-stats .column.suicides {
            width: 144px;
            margin-right:2px;
            text-align: center;
        }

.team-stats {
    color: white !important;
}
    .team-stats .score-row{
        height: 34px;
    }
        .team-stats .score-row:not(:first-child){
            margin-top: 2px;
        }
        .team-stats .column.header{
            background:black;
        }

        .team-stats .column.team, .team-stats .column.place, .team-stats .column.score{
            margin-right:2px;
        }
        .team-stats .column.team{
            width: 430px;
            padding-left: 30px;
            box-sizing: border-box;
        }
        .team-stats .column.place, .team-stats .column.score{
            width: 247px;
            text-align: center;
        }

.medal-stats {
    color: white !important;
}
    .medal-stats .score-row {
        height: 34px;
    }
        .medal-stats .score-row:not(:first-child){
            margin-top: 2px;
        }  
        .medal-stats .column.header{
            background:black;
        }
        .medal-stats .column.header:not(.player){
            text-align: center;
        }
        .medal-stats .column.count, .medal-stats .column.medals {
            margin-right: 2px;
            width: 290px;
        }
        .medal-stats .column.count div, .medal-stats .column.medals div {
            margin: 0 auto;
            width: fit-content;
        }

.versus-stats {
    color: white !important;
}
    .versus-stats .score-row{
        height: 34px;
    }
        .versus-stats .score-row:not(:first-child){
            margin-top: 2px;
        }
        .versus-stats .column.header {
            background:black;
        }
        .versus-stats .score-row .column:not(.player){
            margin-right:2px;
            width: 290px;
            text-align:center;
        }


.weapon-stats {
    color: white !important;
}
    .weapon-stats .score-row{
        height: 34px;
    }
        .weapon-stats .score-row:not(:first-child){
            margin-top: 2px;
        }
        .weapon-stats .column.header{
            background: black;
        }
        .weapon-stats .score-row .column:not(.player){
            margin-right:2px;
            width: 144px;
            text-align:center;
        }

.column.white {
    background: #FDFDFF80; 
}
.column.steel {
    background: #52525280;
}
.column.red {
    background: #BD2B2B80;
}
.column.orange {
    background: #f4781f80;
}
.column.gold {
    background: #F4D12B80;
}
.column.olive {
    background: #9EAC5980;
}
.column.green {
    background: #21912F80;
}
.column.sage {
    background: #23564480;
}
.column.cyan {
    background: #15A0A080;
}
.column.teal {
    background: #36747980;
}
.column.cobalt {
    background: #416B8E80;
}
.column.blue {
    background: #28449A80;
}
.column.violet {
    background: #694DB680;
}
.column.purple {
    background: #75466D80;
}
.column.pink {
    background: #FB9AC880;
}
.column.crimson {
    background: #97114480;
}
.column.brown {
    background: #664D3D80;
}
.column.tan {
    background: #B1915680;
}


.column.team-red{
    background: #C13D3F80;
}
.column.team-blue{
    background: #3638C880;
}
.column.team-yellow{
    background: #C8BA3680;
}
.column.team-green{
    background: #1F891F80;
}
.column.team-purple{
    background: #B53B8980;
}
.column.team-orange{
    background: #DF973480;
}
.column.team-brown{
    background: #74482180;
}
.column.team-pink{
    background: #EB7EC480;
}
.column.team-observer{
    background: #D1D1D180;
}

.postMedal{
    display: block;
    float: left;
    width: 34px;
    height: 34px;
    background-position: 0px -2px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
.postMedal.DoubleKill{
    background: url("Images/Post Game Medals/DoubleKill.png");
}
.postMedal.TripleKill{
    background: url("Images/Post Game Medals/DoubleKill.png");
}
.postMedal.Killtacular{
    background: url("Images/Post Game Medals/Killtacular.png");
}
.postMedal.KillFrenzy{
    background: url("Images/Post Game Medals/KillFrenzy.png");
}
.postMedal.Killtrocity{
    background: url("Images/Post Game Medals/Killtrocity.png");
}
.postMedal.Killamanjaro{
    background: url("Images/Post Game Medals/Killamanjaro.png");
}
.postMedal.SniperKill{
    background: url("Images/Post Game Medals/SniperKill.png");
}
.postMedal.RoadKill{
    background: url("Images/Post Game Medals/RoadKill.png");
}
.postMedal.BoneCracker{
    background: url("Images/Post Game Medals/BoneCracker.png");
}
.postMedal.Assassin{
    background: url("Images/Post Game Medals/Assassin.png");
}
.postMedal.VehicleDestroyed{
    background: url("Images/Post Game Medals/VehicleDestroyed.png");
}
.postMedal.CarJacking{
    background: url("Images/Post Game MedalsCarJacking.png");
}
.postMedal.StickIt{
    background: url("Images/Post Game Medals/StickIt.png");
}
.postMedal.KillingSpree{
    background: url("Images/Post Game Medals/KillingSpree.png");
}
.postMedal.RunningRiot{
    background: url("Images/Post Game Medals/RunningRiot.png");
}
.postMedal.Rampage{
    background: url("Images/Post Game Medals/Rampage.png");
}
.postMedal.Berserker{
    background: url("Images/Post Game Medals/Berserker.png");
}
.postMedal.Overkill{
    background: url("Images/Post Game Medals/Overkill.png");
}
.postMedal.FlagTaken{
    background: url("Images/Post Game Medals/FlagTaken.png");
}
.postMedal.FlagCarrierKill{
    background: url("Images/Post Game Medals/FlagCarrierKill.png");
}
.postMedal.FlagReturned{
    background: url("Images/Post Game Medals/FlagReturned.png");
}
.postMedal.BombPlanted{
    background: url("Images/Post Game Medals/BombPlanted.png");
}
.postMedal.BombCarrierKill{
    background: url("Images/Post Game Medals/BombCarrierKill.png");
}
.postMedal.BombReturned{
    background: url("Images/Post Game Medals/BombReturned.png");
}

